.l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-vertical-center {
  display: flex;
  align-items: center;
}

.l-column {
  display: flex;
  flex-direction: column;
}

.l-full-width {
  width: 100%;
}