@import '../../styles/base.scss';
@import '../../styles/layout.scss';
@import '../../styles/module.scss';

::ng-deep mat-expansion-panel {
  div {
    padding: 0 2px !important;
  }
}

::ng-deep mat-expansion-panel-header {
  flex-direction: column !important;
  .grey {
    color: #ccc;
  }
}

::ng-deep .fitPanel {
  &.mat-expanded {
    height: 9vh !important;
  }
}
