<h1 mat-dialog-title>Reminder Created</h1>
<div mat-dialog-content>
  <div class="field-reminder">
    <label class="title">Date:</label>
    <mat-form-field appearance="fill">
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="date"
        (dateChange)="addEvent($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="field-reminder">
    <label class="title">Reminder</label>
    <input
      matInput
      type="text"
      [(ngModel)]="data.textReminder"
      [maxlength]="30"
    />
  </div>
  <div class="field-reminder">
    <label class="title">Hour</label>
    <input matInput type="time" [(ngModel)]="data.hourReminder" />
  </div>
  <div class="field-reminder">
    <label class="title">City</label>
    <input
      type="text"
      matInput
      [(ngModel)]="data.city"
      (change)="queryWeatherData(data.city)"
    />
  </div>
  <div class="l-vertical-center" *ngIf="weatherCity">
    <label class="title">Forecast</label>
    <div class="l-center l-full-width">
      <div class="parameter">
        <mat-icon aria-hidden="false">filter_drama</mat-icon>
        <label>{{ weatherCity.main.temp_min | converterGrades }}</label>
        <label>{{ weatherCity.main.temp_max | converterGrades }}</label>
      </div>
      <div class="parameter">
        <strong> {{ weatherCity.weather[0]["main"] }} </strong>
        <label>{{ weatherCity.weather[0]["description"] }}</label>
      </div>
    </div>
  </div>
  <div class="field-reminder">
    <label class="title">Color</label>
    <mat-form-field>
      <mat-select
        [(ngModel)]="data.colorReminder"
        [(value)]="data.colorReminder"
        [ngStyle]="{
          background: data.colorReminder ? data.colorReminder : 'white'
        }"
      >
        <mat-option
          *ngFor="let colorR of arrayColors"
          value="{{ colorR.value ? colorR.value : 'white' }}"
          [ngStyle]="{ background: colorR.value ? colorR.value : 'white' }"
        >
          {{ colorR.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br />
  <button
    mat-button
    [mat-dialog-close]="data"
    [disabled]="!data.city || !data.hourReminder"
  >
    {{ data.idArray ? "Edit Reminder" : "Create Reminder" }}
  </button>
</div>
