ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline-block;
  border: 1px solid #ccc;
  width: calc(100% / 7 - 2px);
  height: 50px;
  text-align: center;
  cursor: pointer;
  &.days {
    font-weight: bold;
  }
  &.grey {
    color: #ccc;
  }

  &:hover {
    background-color: #ccc;
  }
}
